<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <!-- sha1 of "London" -->
    <add key="User.Peter" value="4c57f0c88d9844630327623633ce269cf826ab99" />

    <!-- md5 of "NewDelhi" -->
    <add key="User.Mike" value="md5:a4687b2e3ad6b30afafd533f6a58a4cd" />

    <!-- md5 of "fuji:Tokyo" -->
    <add key="User.Steve" value="md5:fuji:7c4b51dea4f2a4ccbb41e9fd1cf95e26" />
    
  </appSettings>

  <system.web>
    <membership defaultProvider="appSettings">
      <providers>
        <clear />
        <add name="appSettings" type="Toolbelt.Web.AppSettingsMembershipProvider,AppSettingsMembershipProvider" />
      </providers>
    </membership>
  </system.web>

</configuration>